:root {
    --body-color: #8398d6;
    --text-out-color: #000000;
    --container-color: #ced7f1;
    --text-color: rgba(255, 255, 255, 0.8);
    --color-white: #FFF;
    --button-color:#bfc1c7;
}

/*reset*/
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {  
    text-decoration: none;
}

.button {
    border: none;
    border-radius: 4px;
    background-color: var(--button-color);
    width: 100px;
    height: 30px;
}

.img-block{
    /* reset empty space beetwen images */
    display: block;
    max-width: 100%;
    /* height: auto; */
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
/*reset/*/

/* hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Width size of windows 320px + */
.container {
    min-width: 320px;
    max-width: 428px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color:var(--container-color);
    /* outline: 2px solid red;  */
}

@media only screen and (min-width: 428px){
    .container {    
        max-width: 428px;
    }
}

@media only screen and (min-width: 768px){
    .container {    
        max-width: 768px;
    }
}

@media only screen and (min-width: 1200px){
    .container {    
        max-width: 1200px;
    }
}

.section {
    padding: 50px 0;
}

/*==========BODY=============*/
body {
    font-family: 'Cinzel+Decorative';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: var( --text-color);

    background-color:var(--container-color);
}
/*         /BODY             */

/*==========HEADER=============*/
.page-header {
    position: fixed;
    height: 50px;
    width: 100vw;

    backdrop-filter: blur(2px);
    background-color: transparent;
    border-top: 5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    box-shadow:0px 2px 1px rgba(16, 16, 24, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding: 5px 0;
}

.nav-list-one {
    display: none;
}

.nav-list-two {
    display: none;
}

.page-logo {
    filter: none; 
}

.address {
    display: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--button-color);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;

    height: 30px;
    
}

.menu-button {
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-color:  rgba(255, 255, 255, 0.8);
    padding: 0 2px;
}

.menu-button-icon {
    display: flex;

    align-items: center;
    justify-content: center;
    fill: rgba(255, 255, 255, 0.8);
 }

.page-logo {
    color: rgb(255, 255, 255, 0.8);
}
/*         /HEADER             */

/*===========MAIN==============*/

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title, .oil-title,
.watercolor-title, .digital-title,
.mix-title, .review-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
}

/* .oil {
    background-color: var(--basic-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),  rgba(46, 47, 66, 0.7)), url(../images/oil-container-img/oil-for-my-site.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.art-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oil-link {
    width: 100%;
    height: 200px;
    background-color: var(--basic-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.3),  rgba(46, 47, 66, 0.7)), url(../images/oil-img/oil-for-my-site.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    
}

.oil-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow:0px 5px 1px rgba(16, 16, 24, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.oil-title, .watercolor-title {
 
    margin-bottom: 10px;
}

/* .oil-link {
    border-radius: 4px  ;
} */


/* .oil-img {
    border-radius: 6px;
} */

.watercolor-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow:0px 5px 1px rgba(16, 16, 24, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.watercolor-link {
    width: 100%;
    height: 200px;
    background-color: var(--basic-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.3),  rgba(46, 47, 66, 0.7)), url(../images/beetle-img/beetle-for-my-site.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}
/*         /MAIN             */
